html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F4F4F8;
}

.hidden {
    display: none;
}


.navbar-brand img {
    border-radius: 50%;
}

.dropdown-menu {
    min-width: 105px;
}

.navbar-text {
    font-size: 1.2rem;
    font-weight: bold;
    color:red;
}

#profileImage {
    width: 40px;
    height: 40px;
}

.dropdown-menu {
    display: none; /* Hide initially */
}

.dropdown.show .dropdown-menu {
    display: block; /* Show when clicked */
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FEFEFE;
    color: white;
    padding: 20px;
    z-index: 1;
    border-radius:15px;
}

    .sidebar .btn {
        width: 100%;
        margin-bottom: 15px;
    }

.content {
    margin-left: 250px;
    padding: 15px;
    width: 100%;
}

.navbar {
    z-index: 2; /* Make sure navbar stays above the sidebar */
    background-color: #FEFEFE;
    border-radius:15px;
}

.myProject {
    text-align: center;
    color: #6669FA;
    font-family: 'JetBrains Mono';
    font-weight: bold;
    align-items:center;

}



.sidebar li {
    margin-bottom: 15px;
}

.sidebar .btn {
    width: 200px;
    height: 45px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; 
    color:blue;
}

