@{
    Layout = null;
}
 

    <img src="~/assets/images/favicon.ico" />

    <link href="~/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/icon/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />


<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light"
                           id="mobile-collapse"
                           href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="ti-close input-group-text"></i>
                                        </span>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Enter Keyword" />
                                        <span class="input-group-append search-btn">
                                            <i class="ti-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="index.html">
                            <img class="img-fluid"
                                 src="~/assets/images/logo.png"
                                 alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle">
                                    <a href="javascript:void(0)">
                                        <i class="ti-menu"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="#!"
                                   onclick="javascript:toggleFullScreen()"
                                   class="waves-effect waves-light">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>

                        <!--Settings-->
                        <ul class="nav-right justify-content-center align-items-center">
                            <li class="header-notification">
                                <a href="#!"
                                   class="waves-effect waves-light">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-red"></span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius"
                                                 src="~/assets/images/avatar-2.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <h5 class="notification-user">
                                                    John Doe
                                                </h5>
                                                <p class="notification-msg">
                                                    Lorem ipsum dolor sit
                                                    amet, consectetuer elit.
                                                </p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius"
                                                 src="~/assets/images/avatar-4.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <h5 class="notification-user">
                                                    Joseph William
                                                </h5>
                                                <p class="notification-msg">
                                                    Lorem ipsum dolor sit
                                                    amet, consectetuer elit.
                                                </p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius"
                                                 src="~/assets/images/avatar-3.jpg"
                                                 alt="Generic placeholder image" />
                                            <div class="media-body">
                                                <h5 class="notification-user">
                                                    Sara Soudein
                                                </h5>
                                                <p class="notification-msg">
                                                    Lorem ipsum dolor sit
                                                    amet, consectetuer elit.
                                                </p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="user-profile header-notification">
                                <a href="#!"
                                   class="waves-effect waves-light">
                                    <img src="~/assets/images/avatar-4.jpg"
                                         class="img-radius"
                                         alt="User-Profile-Image" />
                                    <span>John Doe</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="#!">
                                            <i class="ti-settings"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="user-profile.html">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="email-inbox.html">
                                            <i class="ti-email"></i> My
                                            Messages
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="auth-lock-screen.html">
                                            <i class="ti-lock"></i> Lock
                                            Screen
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="auth-normal-sign-in.html">
                                            <i class="ti-layout-sidebar-left"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle">
                            <a href="#"><i class="icon-close icons"></i></a>
                        </div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius"
                                         src="~/assets/images/avatar-4.jpg"
                                         alt="User-Profile-Image" />
                                    <div class="user-details">
                                        <span id="more-details">John Doe</span>
                                    </div>
                                </div>
                            </div>

                            <div class="pcoded-navigation-label">
                                Navigation
                            </div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="index.html"
                                       class="waves-effect waves-dark">
                                        <span class="pcoded-micon">
                                            <i class="ti-home"></i><b>D</b>
                                        </span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">
                                                Dashboard
                                            </h5>
                                            <p class="m-b-0">
                                                Welcome to Notification page
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index.html">
                                                    <i class="fa fa-home"></i>
                                                </a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="#!">Dashboard</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                        </div>
                                        <!-- Page-body end -->
                                    </div>
                                    <div id="styleSelector"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
        <script src="~/assets/js/jquery/jquery.min.js"></script>

        <script src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
        <!-- menu js -->

        <script src="~/assets/js/pcoded.min.js"></script>

        <script src="~/assets/js/vertical/vertical-layout.min.js"></script>
        
        <script src="~/assets/js/script.js"></script>


